<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>wikiMain</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body class="main">

<div class="wrapper">
    <nav class="nav">
        <div class="navTitle">Yun Wiki</div>
        <ul class="navList">
            <li class="navItem">About</li>
            <li class="navItem">Login</li>
            <li class="navItem">Sign Up</li>
        </ul>
    </nav>

    <div class="mainBody">
        <div class="card card-1">
            <div class="cardIconBox icon1">
                <img class="booticon" src="/images/spring-boot-logo.png"/>
            </div>
            <div class="cardTextBox textbox1">text</div>
        </div>
        <div class="card card-2">
            <div class="cardIconBox icon2">
                <img class="noteicon" src="/images/notepad.svg"/>
            </div>
            <div class="cardTextBox textbox2">text</div>
        </div>
        <div class="card card-3">
            <div class="cardIconBox icon3">
                <img class="coneicon" src="/images/cone.svg"/>
            </div>
            <div class="cardTextBox textbox3">text</div>
        </div>
    </div>
</div>

</body>
</html>