.allBackgroundColor{
    /* background-color: #e7e3e5;  */
}

.card1BackgoundColor{
    background-color: #e25153;
}

.card2BackgoundColor{
    background-color: #64b9cc;
}   

.card3BackgoundColor{
    background-color: #72bd87;
}

.shell{
    padding-top:5rem;
    padding-left:4rem;
    padding-right:2rem;
}

.menu{
    padding-top:20rem;
    padding-left: 15em;
    padding-right: 15rem;

}